<!DOCTYPE html>
<html>
<head>
    <title>HRMS Dashboard</title>
</head>
<body>

    <h1>HRMS Dashboard</h1>

    <hr>

    <h3>Total Employees : {{ total_employees }}</h3>
    <h3>Active Employees : {{ active_employees }}</h3>
    <h3>Inactive Employees : {{ inactive_employees }}</h3>
    <h3>Total Departments : {{ total_departments }}</h3>
    <h3>Joined Today : {{ joined_today }}</h3>
    <h3>Joined This Month : {{ joined_this_month }}</h3>

    <hr>

    <h2>Salary Statistics</h2>
    <p>Average Salary : {{ salary_stats.average_salary }}</p>
    <p>Highest Salary : {{ salary_stats.highest_salary }}</p>
    <p>Lowest Salary : {{ salary_stats.lowest_salary }}</p>

    <hr>

    <h2>Employees by Department</h2>

    <ul>

    {% for department in department_employee_count %}

        <li>
            {{ department.name }}

            -

            {{ department.employee_count }}
            Employees

        </li>

    {% endfor %}

    </ul>
</body>
</html>