<!DOCTYPE>
<html>
<head>
    <title>About</title>
</head>
<body>
    <h1>Contact information</h1>
    <p>
        BlackRoth is a fast-growing technology solutions company focused on delivering high-quality software products, digital transformation services, and innovative IT solutions for businesses worldwide.
    </p>
    <h2>Technology stack</h2>
    <p>
    <u1>
        Custom Software Development
        Web & Mobile Application Development
        AI & Machine Learning Solutions
        Backend & Full-Stack Development
        Cloud & DevOps Services
        IT Consulting & Product Engineering
    <ul>
    </p>
    <h3>Team details</h3>
    <p>
    </ul>
        11-50 employees
        23 associated members
    </ul>
    </p>
<nav>
    <a href="/Index">Index</a>
    <a href="/Home">Home</a>
    <a href="/About">About</a>
    <a href="/Contact">Contact</a>
</nav>
</body>
</html>
